/* Paleta de Cores
Verde: #49a09d
Lilás: #5f2c82
*/

@charset 'UTF-8';

@media screen and (min-width: 600px) and (max-width: 800px)  {
    body{
        background: linear-gradient(to top, #49a09d, #5f2c82 );
    }

    .tela-login{
        width: 90%;
        height: 400px;
        display: grid;
        grid-template-columns: 200px auto ;
    }

    .imagem{
        height:100%;
    }
    
    .formulario{
        display: grid;
        align-items: center;
    }

    .textos{
        font-size: 1.4em;
        margin: 0px 10px;
    }

    }

@media screen and (min-width:801px) {

    body{
        background-color: aliceblue;
        backgound: linear-gradient(to top, #49a09d, #5f2c82 );
    }

    .tela-login{
        width: 90%;
        height: 400px;
        display: grid;
        grid-template-columns: 200px auto ;
    }

    .imagem{
        height:100%;
    }
    
    .formulario{
        display: grid;
        align-items: center;
    }

    .textos{
        font-size: 1.4em;
        margin: 0px 10px;
    }

    }
    
}